@model KNdatabase.Models.Domain.Student
<a class="btn btn-primary" asp-controller="Student" asp-action="GetAll">
    <i class="fa-solid fa-arrow-left-long"></i> Trở về
</a>

<h1>Thông tin mô tả sinh viên</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="@Model.ImgUrl" class="img-thumbnail float-left" />
        </div>
        <div class="col-sm-9">
            <p><span class="d-inline-block w-100 fw-bold">Họ tên:</span> @Model.Name</p>
            <p><span class="d-inline-block w-100 fw-bold">Mã số SV:</span> @Model.Mssv</p>
            <p><span class="d-inline-block w-100 fw-bold">Ngày sinh:</span> @Model.Birth.ToString("dd/MM/yyyy")</p>
            <p>
                <span class="d-inline-block w-100 fw-bold">Giới tính:</span>
                @if (Model.Gender == true)
                {
                    <span>Nam</span>
                }
                else
                {
                    <span>Nữ</span>
                }
            </p>
            <p><span class="d-inline-block w-100 fw-bold">Mô tả:</span> @Model.Description</p>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-primary" href="/Student/EditStudentById/@Model.Id">Chỉnh sửa</a>
                <a class="btn btn-danger" href="/Student/DelStudentById/@Model.Id">Xóa</a>
            } else if(User.IsInRole("Editor"))
            {
                <a class="btn btn-primary" href="/Student/EditStudentById/@Model.Id">Chỉnh sửa</a>
            }

        </div>
    </div>
</div>


